/dotjupyter/nbconfig/
/dotjupyter/jupyter_notebook_config.json
/dotjupyter/migrated
/dotjupyter/test.ipynb
/workspace/wandb/run-20220313_093644-2qws9pt3/logs/debug.log
/workspace/wandb/debug.log
/workspace/wandb/run-20220313_093644-2qws9pt3/logs/debug-internal.log
/workspace/wandb/debug-internal.log
/workspace/wandb/run-20220313_093644-2qws9pt3/files/output.log
